
(in-package :stumpwm)
(load-module "battery-portable")

;; set cursor shape
(run-shell-command "xsetroot -cursor_name left_ptr")

;; modeline
(setf *window-format* "%m%n%s%c")
(setf *screen-mode-line-format* (list "^B[%n] %W^>^B%B | %d^b"))
(setf *time-modeline-string* "%a %b %d %H:%M")
(setf *mode-line-timeout* 5)

(enable-mode-line (current-screen) (current-head) t)

;;keybinds
(define-key *root-map* (kbd "c") "exec alacritty")
(define-key *root-map* (kbd "C-c") "exec alacritty")

(define-key *root-map* (kbd "e") "exec emacsclient -c")
(define-key *root-map* (kbd "C-e") "exec emacsclient -c")

(define-key *root-map* (kbd "d") "exec dmenu_run")
(define-key *root-map* (kbd "C-d") "exec dmenu_run")

(define-key *root-map* (kbd "C-o") "other")

;;make input boxes appear at top and center
(setf *input-window-gravity* :top)
(setf *message-window-gravity* :top)
